body {
  background-color: #d8cece;
  color: #084344;
}

header,
footer {
  background-color: #3b4002;
  color: #cad6c2;
}

h1,
h2 {
  color: #0a0ac2;
}

nav,
a {
  color: #b8d7e0;
  text-decoration: none;
}

.brand {
  font-size: 2em;
}

.tagline {
  color: #760408;
}

.price {
  font-weight: bold;
  color: #08202b;
}
