html {
  font-size: 62.5%;
}

body {
  background-color: #d8cece;
  color: #084344;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

header,
footer {
  background-color: #3b4002;
  color: #cad6c2;
  text-align: center;
}
footer {
  line-height: 1.1;
  text-align: center;
}

h1,
h2,
.brand {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2.4rem;
}

h1 {
  font-size: 3.6rem;
  letter-spacing: 0.05rem;
}

h1,
h2 {
  color: #0a0ac2;
}

nav,
a {
  color: #b8d7e0;
  text-decoration: none;
}

.brand {
  font-size: 2.4rem;
}

.tagline {
  color: #760408;
  font-style: italic;
}

.price {
  font-weight: bold;
  color: #08202b;
}
